---
// Astroへようこそ！この3つのダッシュで囲まれた部分のコードが、
// 「コンポーネントのFront Matter」です。ブラウザで実行されることはありません。
console.log("これはブラウザではなく、ターミナルで実行されます！");
---

<html lang="jp">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <h1>My Blog</h1>
  </body>
</html>